---
# The scss file which include files from _sass/
---

@charset "utf-8";

.dark {
}

h1 {
margin-top: 0.25em;
}

.post-footer{
  font-size: 0.75em;
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-color: #D0D0D0;
}

.avatar-frame,.avatar-frame img{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 30px; /* Saf3+, Chrome */
  border-radius: 30px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.title .avatar{
  float: left;
  margin-top: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.title .site-title{
  padding-left: 10px;
}

.post-header .summary{
  padding-bottom: 15px;
  margin-top: -35px;
  font-style: italic;
  font-weight: 600;
}
