<div class="float-container">
  <div class="float-child">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>cpp</th>
          <th>go</th>
          <th>java</th>
          <th>php</th>
          <th>ruby</th>
          <th>rust</th>
          <th>javascript</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_001"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/go/problem_001"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/java/problem_001"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/php/problem_001"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_001"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/rust/problem_001"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/javascript/problem_001"></a></td>
        </tr>
        <tr>
          <td>2</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_002"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/go/problem_002"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/java/problem_002"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/php/problem_002"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_002"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/rust/problem_002"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/javascript/problem_002"></a></td>
        </tr>
        <tr>
          <td>3</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_003"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/go/problem_003"></a></td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/php/problem_003"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_003"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/rust/problem_003"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/javascript/problem_003"></a></td>
        </tr>
        <tr>
          <td>4</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_004"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/go/problem_004"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_004"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/rust/problem_004"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/javascript/problem_004"></a></td>
        </tr>
        <tr>
          <td>5</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_005"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/go/problem_005"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_005"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/rust/problem_005"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/javascript/problem_005"></a></td>
        </tr>
        <tr>
          <td>6</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_006"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_006"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/rust/problem_006"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/javascript/problem_006"></a></td>
        </tr>
        <tr>
          <td>7</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_007"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_007"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>8</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_008"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_008"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_009"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_009"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_010"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_010"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_011"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_011"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_012"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_012"></a></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="float-child">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>cpp</th>
          <th>ruby</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_013"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_013"></a></td>
        </tr>
        <tr>
          <td>14</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_014"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_014"></a></td>
        </tr>
        <tr>
          <td>15</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_015"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_015"></a></td>
        </tr>
        <tr>
          <td>16</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_016"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_016"></a></td>
        </tr>
        <tr>
          <td>17</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_017"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_017"></a></td>
        </tr>
        <tr>
          <td>18</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_018"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_018"></a></td>
        </tr>
        <tr>
          <td>19</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_019"></a></td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/ruby/problem_019"></a></td>
        </tr>
        <tr>
          <td>20</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_020"></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>21</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_021"></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>22</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_022"></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>23</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_023"></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>24</td>
          <td><a class="fas fa-link" href="{{site.baseurl}}/blog/euler/cpp/problem_024"></a></td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="clearfix"></div>
