---
// Social Links component
---
<div class="social-icons">
  <a href="https://github.com/tvarley" class="fab fa-github"></a>
  <a href="https://gitlab.com/tvarley" class="fab fa-gitlab"></a>
  <a href="https://linkedin.com/in/timothyvarley" class="fab fa-linkedin"></a>
</div>