---
// Social Links component
---
<div class="social-icons">
  <a href="https://github.com/tvarley" class="devicon-github-original"></a>
  <a href="https://gitlab.com/tvarley" class="devicon-gitlab-plain"></a>
  <a href="https://linkedin.com/in/timothyvarley" class="devicon-linkedin-plain"></a>
</div>