---
// Layout component
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.scss';
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{Astro.props.title ? `${Astro.props.title} – Tim Varley` : 'Tim Varley'}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={Astro.props.summary || "Tim's Personal blog"}>
    <meta name="author" content="Tim Varley">
    {Astro.props.categories && <meta name="keywords" content={Astro.props.categories.join(', ')}>}
    <link rel="canonical" href={`https://tvarley.github.io${Astro.url.pathname.replace('/index.html', '/')}`}>
    <link href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content={Astro.props.title || 'Tim Varley'}>
    <meta property="og:description" content={Astro.props.summary || "Tim's Personal blog"}>
    <meta property="og:url" content={`https://tvarley.github.io${Astro.url.pathname}`}>
    <meta property="og:site_name" content="Tim Varley">
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body class="animated fade-in-down">
    <div class="site-wrap">
      <Header />
      <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
          <slot />
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>